<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SpaseFormISPDn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
                  </configSections>
  <connectionStrings>
    <add name="FileBazaSQLISPDnEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\FileBazaSQLISPDn.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="SuchnostISPDN" connectionString="metadata=res://*/ModelSuchnostey.csdl|res://*/ModelSuchnostey.ssdl|res://*/ModelSuchnostey.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\FileBazaSQLISPDn.mdf;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="SpaseFormISPDn.Properties.Settings.ISPDnBDConnectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\ISPDnBD.mdb;Persist Security Info=True"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  <userSettings>
    <SpaseFormISPDn.Properties.Settings>
      <setting name="NewREAD" serializeAs="String">
        <value>True</value>
      </setting>
    </SpaseFormISPDn.Properties.Settings>
  
</userSettings>
</configuration>